.layout{
  display: flex;
  
  justify-content: space-evenly;
  height: 100vh;
}

.section_1{
  
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background:url('../public/mural.jpg') center;
  
  justify-content: center;
  align-items: center;
}

.section_2{
  
  width: 50%;
  display: flex;
  flex-direction: column; 
   background:url('../public/3d cube.jpg') center no-repeat;

  justify-content: center;
  align-items: center;

}

.section_1:hover{
  width: 75%;
  transition: 0.75s;
}

 

.section_2:hover{
  width: 75%;
  transition: 0.75s;
}
 
.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}

p{
  background: green;
  padding: .85rem 1.5rem;
  border-radius: 10px;
}

p:hover{
  background: black;
  
}